
body{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

overflow: hidden;
}

.panel{
    position: relative; /* Important for correct positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 80%;
    max-width: 400px;
    height: 30%;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 5px 100px rgb(172, 172, 172);
    
}
.panel-in{
    background-color: yellow;
    
  
}
.panel img{
    width: 100%;
    height: auto;

}

#yes,#no{
    background-color: red;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;


}
#yes{
   transition: transform 0.3s ease;
}
#yes:hover{
    transform: scale(1.1);
}
#no{
    transition: top 0.4s ease, left 0.4s ease;
    position: absolute;
}